body{
    background-image: url("../pictures/jedi_b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    background-color: hsl(187, 83%, 49%);
    color: #0A3192;
}