*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
    background-image: url("../pictures/main_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    background-color: #460A6F;
    color: #6E9B06;
}